.home {
    position: absolute;
    z-index: 3;
    top: 70px;
    width: 40px;
    height: 40px;
    background: crimson;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: white;
    cursor: pointer;
}

.profile-img{
    width: 95px;
    height: 95px;
}
.user-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    & .wrapper {
        width: 400px;
        height: fit-content;
        background: lightgrey;
        border-radius: 8px;
        padding: 60px 40px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        .user-details {
            display: flex;
            align-items: Center;
            gap: 20px;
            margin-bottom: 2rem;

            .profile-image {
                position: relative;
                
                svg.no-profile-image {
                    width: 100px;
                    width: 100px;
                    border: 3px solid crimson;
                    border-radius: 50%;
                    
                    path {
                        fill: grey;
                    }
                }

                .camera-wrapper {
                    position: absolute;
                    z-index: 3;
                    top: 0;
                    left: 70px;
                    width: 30px;
                    height: 30px;
                    background: crimson;
                    display: grid;
                    place-items: center;
                    border-radius: 50%;
                    color: white;
                    border: 1px solid lightgrey;
                    cursor: pointer;
                    transition: .2s ease-in-out;
                }

                .camera-wrapper:hover {
                    scale: 1.1;
                }
    
            }
                .username-email {
                    
                    .username {
                        font-size: 1.5rem;
						font-weight: 400;
                    }
                    .user-email {
                        font-size: 1rem;
                        color: crimson;
                    }
                }
        } //user-details ends here

        .bio {
            color: rgb(56, 56, 56);
            margin-bottom: 2rem;
        }

        .editable {
            display: flex;
            gap: 10px;

            .country, .occupation {
                background:rgb(187, 187, 187);
                padding: 5px 10px;
                border-radius: 8px;
                color: rgb(56, 56, 56);
            }
        }

        .user-profile-upload {
            margin-top: 2rem;
            display: none;

            span.add-profile-url {
                font-size: .8rem;
                color: rgb(56, 56, 56);
            }

            input.url-input {
                width: 100%;
                height: 40px;
                border-radius: 8px;
                border: none;
                background:rgb(187, 187, 187);
                color:rgb(56, 56, 56);
                padding: 0 10px;
                margin-top: .5rem;
                font-family: "Outfit", sans-serif;
            }

            input.url-input:focus {
                outline: none;
            }

        }

    }
}