<div class="mb-3">
    <!-- <app-create-post (postCreated)="addPost()"></app-create-post> -->
  </div>
  
  <div class="list-group">
    <div *ngFor="let post of posts" class="list-group-item">
      <div class="d-flex align-items-center mb-2">
        <!-- <img [src]="post.userProfilePicture" class="rounded-circle me-2" width="40" height="40" alt="User Profile Picture"> -->
        <!-- <strong>{{ post.username }}</strong> -->
      </div>
      <p>{{ post.body }}</p>
  
      <!-- <app-comment-section [postId]="post.id"></app-comment-section> -->
    </div>
  </div>
  