<div class="btn-list">
    <p>
        <button routerLink="/create-post">create post</button>
        <button routerLink="/post-list">posts listing</button>
        <button routerLink="/post-details">read post</button>
        <!-- <button (click)="deletePost('-O8CVQluvYeLhSFwI1nj')">delete post</button> -->
    </p>
    <p>
        <button>create comment</button>
        <button (click)="logout()">logout</button>
        <button routerLink="/profile">go to profile</button>
    </p>
</div>
<router-outlet />
<!-- 
<div id="recaptcha-container"></div> -->
<!-- <app-text-editor (input)="log()" [(ngModel)]="texteditor"/> -->
<!-- <app-list-posts/> -->