
<div class="container mt-5">
    <button routerLink="/" class="btn btn-outline btn-light">
        <i class="bi bi-backspace"></i>
        back
    </button>
<div class="row">
    <div class="row">
        <article>
            <header class="mb-4">
                <h1 class="fw-bolder mb-1">{{post?.title}}</h1>
                <div class="text-muted fst-italic mb-2">Posted on {{post?.date}} by {{post?.userId}}</div>
            </header>
            <!-- <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure> -->
            <section class="mb-5">
                <p class="fs-5 mb-4">{{post?.content}}</p>
            </section>
        </article>
    </div>
</div>
<app-comments/>